# ── SSH Tunnel ─────────────────────────────
SSH_HOST=100.123.107.110
SSH_PORT=22
SSH_USER=sistemas
SSH_PASSWORD=tu_password_aqui
# Opcional: puerto local preferido para el túnel SSH (si está ocupado, busca el siguiente libre)
SSH_LOCAL_PORT=15210

# ── Oracle DB ──────────────────────────────
ORA_HOST=129.151.122.103
ORA_PORT=1521
ORA_SERVICE=INMO.srpubchile.redprincipalchi.oraclevcn.com
ORA_USER=inmo_dbu
ORA_PASSWORD=tu_password_oracle
# Opcional: ruta al Oracle Instant Client si no está en PATH
ORA_CLIENT_LIB_DIR=

# ── App ────────────────────────────────────
APP_PORT=3000
