.env
.vscode
/dist
/node_modules
/.clinic
exports/
*.log
*.tsbuildinfo
*.tgz
*.zip
*.tar.gz
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
*.eslintcache
*.prettiercache
*.vscode/
*.history/
*.cache/
*.coverage/
*.nyc_output/
*.tscache/
*.eslintcache
*.prettiercache
